PORT=4000
NODE_ENV=development

DB_HOST=localhost
DB_PORT=3306
DB_NAME=zeroone_website
DB_USER=root
DB_PASSWORD=root
REQUIRE_DB_ON_START=false
SYNC_DB_ON_START=true
SEQUELIZE_CLEAN_DUP_UNIQUE_INDEXES=true
SEED_ADMIN_ON_START=true
SEED_CHAT_ON_START=true

MS_TENANT_ID=
MS_CLIENT_ID=
MS_CLIENT_SECRET=
MS_SENDER_EMAIL=
MS_RECIPIENT_EMAIL=contact@zeroone-apps.com

JWT_SECRET=replace-this-with-a-long-random-secret
JWT_EXPIRES_IN=1d
PASSWORD_SALT_ROUNDS=12

ADMIN_NAME=ZeroOne Admin
ADMIN_EMAIL=admin@zeroone-apps.local
ADMIN_PASSWORD=@dm1n123
